@font-face {
	font-family: "lovelo-black";
	src: url("fonts/Lovelo-Black.eot");
	src:
	url("fonts/Lovelo-Black.woff") format("woff"),
	url("fonts/Lovelo-Black.otf") format("opentype")
}

.title {
	font-size: 1em;
	text-align: center;
	color: #D1D7E0;
	line-height: 1;
	font-family: "lovelo-black";
}

.subtitle {
	font-size: 0.8em;
	color: #D1D7E0;
	text-align: center;
	font-family: "montserrat";

}

.content {
	font-size: 0.8em;
	color: #4C495D;
	text-align: center;
	font-family: "montserrat";
}

form.inputform label {
    font-size: 1em;
    color: #D1D7E0;
    font-family: "montserrat";

}
.content-title {
	font-size: 1.2em;
	color: #2D283E;
	text-align: center;
	font-family: "montserrat";
}

a.hyperlink:link, a.hyperlink:visited{
	font-size: 0.4em;
	text-align: left;
	text-decoration: underline;
	color: #4C495D;
	margin-left: 0.5em;
	font-family: "montserrat";
}

a.hyperlink:hover {
	font-size: 0.4em;
	text-align: left;
	text-decoration: underline;
	color: #564F6F;
	margin-left: 0.5em;
	font-family: "montserrat";
}


/*::placeholder {
	color: #4C495D;
}*/