{% extends "story5/base.html" %}
{% load static %}

{% block title %}Activity{% endblock %}
{% block content %}

  <style>
    .label-name {
      font-size: 35px;
      color: #D1D7E0;
      font-family: "montserrat";
    }
  </style>
  
  <p class="title" style="margin-top: 1em;">
      Activity
  </p>

  <br />
  <div class="container">


    <div class="row">

      <div class="col-md-7">
        <h1 class="subtitle">New Activity:</h1>
        <form action="." method="post" class="inputform">
          
          {% csrf_token %}
          {{ form.as_p }}

          <button type="submit" class="btn" style="float: right; color: ##2D283E; background-color: #584F6F; font-size: 0.7em">Add!</button>

        </form>
      </div>

      <div class="col-md-5">

        <h1 class="subtitle"> Activities list:<h1>
        {% if activity_data %}

          <div class = "container vbar">
            {% for data in activity_data %}

              {% if forloop.counter0 > 0%}
                <div class = "connector"></div>
              {% endif %}
              
              <div class = "container profile-information">

                <a class="button deletebutton" href="{% url 'delete_activity' data.pk %}">X</a>
                <article class = "content-title">
                  {{ data.name }}
                </article>

                <p class = "content">
                  {{ data.date}}, {{ data.time }}<br />
                  {{ data.activity}}<br />
                  {{ data.location}}
                  
                </p>
                  
              </div>
            {% endfor %}
          </div>
        {% else %}

          <div class = "container profile-information">

            <p> No activities are scheduled! </p>
          </div>

        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}

      