<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Galang{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'story5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'story5/css/bootstrap.css.map' %}">
    <link rel="stylesheet" href="{% static 'story5/css/myTextStyle.css' %}">
    <link rel="stylesheet" href="{% static 'story5/css/myLayoutStyle.css' %}">
    <link rel="stylesheet" href="{% static 'story5/css/myImageStyle.css' %}">
    <link rel="stylesheet" href="{% static 'story5/css/myButtonStyle.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class = "container mainbody">
      {% block header %}
      <br />
      <div class = "container hbar" style="justify-content: left; flex-direction: row">

        <a class= "hyperlink" href="{% url 'Homepage' %}">Home</a>
        <a class= "hyperlink" href="{% url 'basic_info' %}">Profile</a>
        <a class= "hyperlink" href="{% url 'projects' %}">Projects</a>
        <a class= "hyperlink" href="{% url 'activity' %}">Manage Activities</a>
        <a class= "hyperlink" href="{% url 'contact' %}">Contact Me</a>
        
      </div>
      {% endblock %}

      {% block content %}
      {% endblock %}

    </div>

    
    

  </body>
</html>