{% extends "story5/base.html" %}
{% load static %}

{% block title %}Contact{% endblock %}
{% block content %}
  
  <p class="title" style="margin-top: 1em;">
      Contact Me
  </p>

  <br />
  <form class = "inputform">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control contact" id="inputName" placeholder="Enter name">
    </div>

    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control contact" id="inputEmail" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label>Subject:</label>
      <input type="text" class="form-control contact" id="inputSubject" placeholder="Enter Subject">
    </div>

    <div class="form-group">
      <label>Message:</label>
      <textarea class="form-control contact" id="inputMessage" placeholder="Enter Message" rows = "3" cols = "50"></textarea>
    </div>

    <button type="submit" class="btn" style="float: right; color: ##2D283E; background-color: #584F6F; font-size: 0.7em">Send!</button>

  </form>

{% endblock %}

      