{% extends "story5/base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block header %}{% endblock %}
{% block content %}
  <p class="title" style="margin-top: 1em; color: #802BB1;">
    Galang's Professional<br />
    Web Bio
  </p>

  <br />
  <img src="{% static 'assets/GalangPhoto.jpg' %}" alt="Galang's Photo" class="profpic" >
  <br />
  <p class="subtitle">
    A computer science student with interest 
    in Artificial Intelligence 
  </p>
  <div class = "container hbar">
  
    <a role="button" href="{% url 'basic_info' %}" class="btn homebutton">Profile</a>
    <a role="button" href="{% url 'projects' %}" class="btn homebutton">Projects</a>
    <a role="button" href="{% url 'contact' %}" class="btn homebutton">Contact</a>

  </div>

{% endblock %}

      