{% extends "story5/base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}
{% block content %}
  <p class="title" style="margin-top: 1em;">
        Projects
    </p>

    <br />
    <div class = "container hbar">

        {% for isFirst, project_title, project_image, project_description in project_info %}

          {% if isFirst %}
            <article>
          {% else %}
            <article style="margin-left: 0.8em">
          {% endif %}

              <h1 class = "subtitle">{{ project_title }}</h1>
              <br />
              <img src="{% static project_image %}" alt="{{ project_title }}" class="project-thumbnail">
              <br />
              <p class = "subtitle">
                {{ project_description }}
              </p>

            </article>
        {% endfor %}
        
    </div>
  </div>
{% endblock %}
