.btn {

	background-color: #802BB1;
	margin: 1em;
	/*margin-left: 10px;*/
	/*margin-right: 85px;*/
	font-size: 0.8em; 
	padding: 0.005em;
	font-family: "montserrat";
}

.homebutton {
	width: 7em;
	height: 1.5em;
}

@media only screen and (max-width: 600px) {
	.homebutton {
		margin: 0em;
	}
}

.profilebutton {
	align-items: stretch;
	font-size: 0.5em;
	margin-bottom: 2.2em;
	margin-top: 0em;
	height: 2em; 
}

.form-control {
	background-color: #584F6F;
	border-color: #584F6F;
	color: #D1D7E0;
	font-size: 0.5em;
	font-family: "montserrat";
}

.form-control:focus {
  	color: #D1D7E0;
  	background-color: #584F6F;
  	border-color: #584F6F;
  	font-size: 0.5em;
  	font-family: "montserrat";
}

.form-control::placeholder {
  	color: #4C495D;
  	font-family: "montserrat";
}