img.profpic {
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(100% / 3);
	max-height: calc(100% / 3);
	width: auto;
	height: auto;
}

img.project-thumbnail {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 10em;
	max-height: 20em;
	width: auto;
	height: auto;
}
.connector {

	height: 1em;
	width: 0.2em;
	background-color: #CAA9E6;
	margin-left: auto;
	margin-right: auto;
}
