
/*html {
	font-size: 2.5vw !important;
}

:root {
	font-size: 2.5vw !important;
}
*/
body {
	background-color: #2D283E;
	overflow-y: scroll;


}



.mainbody {
	/*margin-left: calc(100% / 8); 
	margin-right: calc(100% / 8);
	margin-left: 1em;
	margin-right: 1em;
	flex-direction: column;
	max-width: 90em !important;
	font-size: 100px;*/
	font-size: calc(2em + 1vw) !important;
}

.container {
	max-width: 30em;
}

.hbar {
	display: flex;
	justify-content: center;
	flex-direction: row;

	/*@include media-breakpoint-down(md) {
	  
	}*/
}

@media only screen and (max-width: 600px) {
	.hbar {
		display: block;
		flex-direction: column !important;
		justify-content: center !important;
		position: center !important;
	}
}

.vbar {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.profile-information {
	background-color: #CAA9E6;
	display: flex;
	flex-direction: column;
	font-size: 0.5em;
}
