{% extends "pages/base.html" %}
{% load static %}

{% block title %}Contact{% endblock %}
{% block content %}

  <style>
    .label-name {
      font-size: 35px;
      color: #D1D7E0;
      font-family: "montserrat";
    }
  </style>
  
  <p class="title" style="margin-top: 1em;">
      Contact Me
  </p>

  <br />
  <form>
    <div class="form-group">
      <label class = "label-name">Name:</label>
      <input type="text" class="form-control contact" id="inputName" placeholder="Enter name">
    </div>

    <div class="form-group">
      <label class = "label-name">Email:</label>
      <input type="email" class="form-control contact" id="inputEmail" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label class = "label-name">Subject:</label>
      <input type="text" class="form-control contact" id="inputSubject" placeholder="Enter Subject">
    </div>

    <div class="form-group">
      <label class = "label-name">Message:</label>
      <textarea class="form-control contact" id="inputMessage" placeholder="Enter Message" rows = "3" cols = "50"></textarea>
    </div>

    <button type="submit" class="btn" style="float: right; color: ##2D283E; background-color: #584F6F; font-size: 0.7em">Send!</button>

  </form>

{% endblock %}

      