{% extends "pages/base.html" %}
{% load static %}

{% block title %}My Profile{% endblock %}
{% block content %}
  <p class="title" style="margin-top: 1em; color: ">
      Profile
  </p>

  <br />
  <div class = "container hbar">

    <div class = "container vbar" style="margin-right: 1em">

      <a role="button" href="{% url 'basic_info' %}" class="btn profilebutton">Basic Information</a>
      <a role="button" href="{% url 'education' %}" class="btn profilebutton">Education and Working Experience</a>
      <a role="button" href="{% url 'organization' %}" class="btn profilebutton">Organization</a>
      <a role="button" href="{% url 'awards' %}" class="btn profilebutton">Awards</a>
      <a role="button" href="{% url 'skills' %}" class="btn profilebutton">Skills</a>
      
    </div>

    <div class = "container vbar">

      {% for isFirst, title, content in profile_info %}
      
        {% if not isFirst %}
            <div class = "connector"></div>
        {% endif %}

        <div class = "container profile-information">

          {% if title == "" %}
            <p class = "content" style="text-align: left">
              {{ content|linebreaksbr}}
            </p>
          {% else %}
            <article class = "content-title">
              {{ title }}
            </article>

            <p class = "content">
              {{ content|linebreaksbr }}
            </p>
          {% endif %}

        </div>

      {% endfor %}

    </div>
{% endblock %}